{% extends "base.html" %} {% block head %} {{ super() }}

{% endblock %} {% block main %}

<div class="my-5 text-center">
    <h1 class="display-4 fw-normal">Thanks for sharing your suggestions</h1>
    <div class="container col-lg-8">
      <p class="lead fw-normal">This system was developed by Haojin Wu and Qingcheng Yu.</p>
     </div>
    <a target="_blank" class="btn btn-outline-secondary" href="mailto:hw2846@columbia.edu, qy2281@columbia.edu">Email Us</a>
    <a target="_blank" class="btn btn-outline-secondary" href="https://www.linkedin.com/in/haojinwu/" rel="noopener">Message Haojin</a>
</div>


{% endblock %}